{% extends 'base.html.twig' %}

{% block javascripts %}
<script>
    const publicationEventSource = new EventSource("{{ mercure('/api/hotfix_publications/c454b0f1-b051-58c7-9585-b1b73fa86151')|escape('js') }}");
    publicationEventSource.onmessage = event => {
        console.log(JSON.parse(event.data));
    };
    const eventsEventSource = new EventSource("{{ mercure('/api/events')|escape('js') }}");
    eventsEventSource.onmessage = event => {
        console.log(JSON.parse(event.data));
    };
</script>
{% endblock %}

{% block body %}
<h1>It works!</h1>
{% endblock %}
